body {
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
    color: purple;
}
h3 {
    color: purple;
}

.dropdown .trigger {
    color: purple;
    border-bottom: 1px solid purple;
    padding: 10px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
}
.dropdown .trigger::after {
    content: ">";
    display: inline-block;
    position: absolute;
    right: 15px;
    transform: rotate(90deg) scale(0.5, 1);
    font-weight: bold;
    transition: transform 0.3s;
}
.dropdown .trigger.active::after {
    transform: rotate(-90deg) scale(0.5, 1);
}
.dropdown .content {
    display: none;
}
.dropdown .content.active {
    display: block;
}
